@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import 'tailwindcss';

.backGroundMain {
  background-color: #FFFCF2;
  color: #e0e0e0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.imgMain{

  box-shadow: 0 0 10px #042C54, 0 0 15px #042C54, 0 0 20px #042C80;
  transition: box-shadow 0.5s ease;
}

.imgMain:hover{

  box-shadow: 0 0 20px #042C54, 0 0 25px #042C54, 0 0 30px #042C80;

}


